<p id="notice"><%= notice %></p>

<p>
  <strong>タスク名:</strong>
  <%= @task.task_name %>
</p>

<p>
  <strong>タスク内容:</strong>
  <%= @task.description %>
</p>

<%= link_to '編集', edit_task_path(@task) %> |
<%= link_to 'タスク一覧へ戻る', tasks_path %>
